# Ignora a pasta de build do Maven
/target/

# Ignora pastas de IDE
.idea/
.vscode/
*.iml

# Ignora pastas de logs
/logs/

# Ignora pastas de uploads do usuário
/uploads/
/file/

# Ignora arquivos compilados do Java
*.class

# Ignora arquivos de configuração de tempo de execução
.env